#commits-table > tbody > tr > td.tag-commit-list-section > span > ul.tag-list {
    list-style: disc !important;
}

#commits-table > tbody > tr > td.tag-commit-list-section > span > ul.tag-list > li {
    margin-left: 30px;
}


.changeset-message-box {
    border: 2px;
}